---

---

<div>
  <button
    class="inline-flex items-center justify-center space-x-2 px-6 py-2 rounded-xl bg-rød text-hvid hover:border-rød hover:border-2 hover:text-rød hover:bg-hvid transition-colors duration-300"
    ><slot /></button
  >
</div>
