---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import plastikforurening from "../assets/images/plastikforurening.jpeg";
import plastikflaskemfisk from "../assets/images/plastikflaskemfisk.svg";
import plastikflaske from "../assets/images/plastikflaske.svg";
import fisk from "../assets/images/fisk.svg";
import bg_billede from "../assets/images/bg_billede.svg";
---

<section class="mx-20">
  <div class="grid grid-cols-2 mt-10">
    <div class="pl-48 mx-16 pt-10 text-xl">
      <h2
        class="font-sigmar text-5xl text-rød pt-10 pb-8 grid justify-items-center"
      >
        Hvad er plastikforurening?
      </h2>
      <p class="font-rubik pb-10 pt-10">
        Plastikforurening opstår, når plastikaffald ender i naturen, især
        havene, hvor det truer dyrelivet og bliver til mikroplast, som spreder
        sig i økosystemet.
      </p>

      <p class="font-rubik pb-10">
        Plastikken nedbrydes ikke naturligt og kan skade både dyr og mennesker
        ved at ophobe toksiner.
      </p>

      <p class="font-rubik pb-10">
        Dette globale problem har alvorlige konsekvenser for havets økosystemer
        og menneskers sundhed, da mikroplast kan ende i fødekæden og forurene
        vores mad og vand.
      </p>
    </div>

    <div class="parallaxgrafik fullwidthsection relative mt-20">
      <div
        class="h-screen w-full h-full bg-cover bg-top grid grid-cols-12 overflow-hidden relative z-10"
        style="background-image: url('/src/assets/images/plastikflaske.svg'); background-size: 50%; background-repeat: no-repeat; "
      >
      </div>
      <Image
        src={fisk}
        alt=""
        class="col-start-10 parallaxgrafik1 absolute z-5 left-[30%] size-80"
      />
    </div>
  </div>
  <div class="overflow-hidden">
    <Image
      src={bg_billede}
      alt=""
      class="absolute top-[60%] z-0 w-[1000px] h-auto overflow-hidden max-w-full lg:right-[2%] lg:w-[3800px] lg:rotate-90 lg:mt-52"
    />
  </div>
</section>

<script>
  import { animate, scroll } from "motion";

  /* Parallaxgrafik */
  scroll(animate(".parallaxgrafik1", { y: [400, -2200] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });
</script>
